.navbarr{
    display: flex;
    background-color: #efeae4;
    height: 100px;
    width: 100%;
}
.navbarr div img{
    height: 100px;
    margin-left: 115%;
    width: 130px;
}
.home{
    margin-right: 20px !important;
    width: 125px;
    height: 63px;
}
.home  a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.cappy{
    margin-top: 18px;
    margin-left: 75%;
}

.button-83 a{
    text-decoration: none;
    color: black;
}
.button-83 {
    width: 49%;
    height: 73%;
    background-color: transparent;
    background-image: linear-gradient(to bottom, #fff, #f8eedb);
    border: 0 solid #e5e7eb;
    border-radius: .5rem;
    color: #482307;
    cursor: pointer;
    font-size: 100%;
    font-weight: 700;
    line-height: 24px;
    text-transform: none;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    touch-action: manipulation;
    box-shadow: -6px 8px 10px rgb(81 41 10 / 10%), 0px 2px 2px rgb(81 41 10 / 20%);
}

.button-83:active {
  background-color: #f3f4f6;
  box-shadow: -1px 2px 5px rgba(81,41,10,0.15),0px 1px 1px rgba(81,41,10,0.15);
  transform: translateY(0.125rem);
}

.button-83:focus {
  box-shadow: rgba(72, 35, 7, .46) 0 0 0 4px, -6px 8px 10px rgba(81,41,10,0.1), 0px 2px 2px rgba(81,41,10,0.2);
}